*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #FFEA00;
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.img_header{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    margin-top: 70px;
}

.list_header{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 100px;
}

.list_header a{
    color: #004C6B;
    text-decoration: none;
    font-family: poppins, sans-serif;
}

.botao_zap{
    background-color: #4ECA5C;
    padding: 10px;
    border-radius: 30px;
}

.botao_zap img{
    width: 20px;
    height: 20px;  
}

.botao_zap span{
    color: #fff;
    text-decoration: none;
    font-size: 27px;
}

/* primeira seção */

.section_principal{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}
.section_principal h1{
    font-size: 30px;
    color: #d8d855;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

.section_principal h2{
    font-size: 50px;
    color: #77b2c7;
    text-shadow: #000000 2px 2px 4px;
    
}
.section_principal p{
    font-size: 25px;
    color: #ffa02d;
    width: 500px;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
.section_principal a{
    background-color: #4ECA5C;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
}

.section_principal h3{
    font-size: 50px;
    color: #0c77a2;
    text-shadow: 2px 2px 4px rgba(107, 98, 98, 0.5);
}

.caixa_dos_cards01{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.caixa_dos_cards02{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    height: 450px;
    border-radius: 20px;
    background-color: rgba(244, 224, 9, 0.25);
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.card img{
    width: 150px;
    height: 150px;
}

.card h2{
    font-size: 25px;
    color: #7cc6e3;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card p{
    font-size: 15px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 25px;
}

.local{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    text-shadow: #000000 2px 2px 4px;
}

iframe{
    border: none;
    border-radius: 20px;
}

.caixa_footer{
    background-color: #FFEA00;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 20px;
    padding: 20px;
}

.atendimento{
    
    margin-right: 70px;
    
}



.horarios{
    margin-right: 100px;
    margin-left: 100px;
}

.rodape_direitos{
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    background-color: black;
    color: #fff;
}

.rodape_direitos a{
    text-decoration: none;
    color: #08da2e;
}

.whatsapp{
    width: 10px;
    height: 10px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 0;
}

.whatsapp img{
    width: 80px;
    height: 80px;
}

html{
    scroll-behavior: smooth;
}

.whatsapp img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.list_header a:hover{
    background-color: #21B6F8;
    transition: 0.3s;
    padding: 10px;
    border-radius: 30px;
}

.card a:hover{
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #21B6F8;
    
}

.section_principal a:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.filtro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/*

usar o codigo de video quando achar um melhor

video{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: -1;
}
   */ 

body{
    background-image: url('./assets/img/carro.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* responsividade */
/*
@media (max-width: 768px) {
    .list_header{
        display: none;
    }
    .section_principal h1 {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-align: center;
    }


    .section_principal h2{
        font-size: 30px;
        text-align: center;
    }
    .section_principal p{
        font-size: 15px;
        width: 300px;
    }

    .section_principal a{
        font-size: 15px;
    }

    .section_principal h3{
        font-size: 25px;
        color: #21B6F8;
        
    }

    .caixa_dos_cards01, .caixa_dos_cards02{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap : 20px;
       
    }

    .card{

    width: 90%;
    max-width: 320px;
    min-height: 350px;
    height: auto;
    padding: 20px;

    }

    .card img{
        width: 100px;
        height: 100px;
    }

    .card h2{
        font-size: 20px;
    }
    .card p{
        font-size: 12px;
    }

    .card a{
        display: none;
    }

    .local{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 60px;
    }

    .atendimento{
        margin: 0;
        text-align: center;
    }

     .caixa_footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding: 20px;
    }

     .atendimento, .horarios{
        margin: 0;
    }
}

*/

@media (max-width: 768px) {

    *{
        text-shadow: #000000 2px 2px 4px;
    }

    header{
        justify-content: center;
        height: 90px;
    }

    .img_header{
        width: 140px;
        height: 140px;

        margin: 0;
        margin-top: 40px;
    }

    .list_header{
        display: none;
    }

    .section_principal{
        padding-top: 140px;

        min-height: 300vh;

        padding-left: 15px;
        padding-right: 15px;
    }

    .section_principal h1{
        font-size: 22px;
        text-align: center;
        
    }

    .section_principal h2{
        font-size: 28px;
        text-align: center;
        line-height: 1.2;
        color: #21B6F8;
    }

    .section_principal h3{
        font-size: 35px;
        text-align: center;
        color: #21B6F8;
        text-shadow: #000000 2px 2px 4px;
    }

    .section_principal p{
        width: 100%;
        max-width: 320px;

        font-size: 15px;

        text-align: center;
    }

    .section_principal a{
        font-size: 14px;
    }

    .caixa_dos_cards01,
    .caixa_dos_cards02{

        display: flex;
        flex-direction: column;

        align-items: center;

        gap: 25px;

        width: 100%;
        
    }

    .card{
        width: 100%;
        max-width: 320px;

        min-height: 420px;
        height: auto;

        padding: 20px;
    }

    .card img{
        width: 100px;
        height: 100px;
    }

    .card h2{
        font-size: 22px;
        text-align: center;
    }

    .card p{
        width: 100%;

        font-size: 14px;

        line-height: 1.5;

        text-align: center;
    }

    .card a{
        margin-top: auto;
    }

    .local{
        width: 100%;

        height: auto;

        padding: 60px 20px;

        display: flex;
        flex-direction: column;

        align-items: center;

        text-align: center;

        gap: 20px;
        margin-top: 320px;
    }

    .local h2{
        font-size: 35px;
    }

    .local p{
        width: 100%;
        max-width: 320px;

        font-size: 18px;
    }

    .local iframe{
        width: 100%;
        max-width: 350px;

        height: 300px;

        border-radius: 20px;
    }

    .caixa_footer{

        width: 100%;

        height: auto;

        display: flex;
        flex-direction: column;

        align-items: center;

        text-align: center;

        gap: 35px;

        padding: 40px 20px;

        
    }

    .atendimento,
    .horarios,
    .servicos{
        margin: 0;
        
        width: 100%;
        max-width: 320px;
    }

    .servicos ul{
        list-style-position: inside;
        
    }
     

    .rodape_direitos{
        height: auto;

        padding: 20px;

        font-size: 14px;
    }

    .whatsapp{
        right: 70px;
        bottom: 70px;
    }

    .whatsapp img{
        width: 65px;
        height: 65px;
    }

    footer h2,
    footer p,
    footer li{
    text-shadow: none;
}

}